$dark-blue: #2846A0;
$light-blue: #1EC0DC;

$screen-xs-min: 321px;
$screen-xxs-max: ($screen-xs-min - 1);
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);